* {
  -webkit-tap-highlight-color: transparent;
}
html, body {
  min-height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}
body.light {
  background-color: #fafafa;
}
body.dark {
  background-color: #303030;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-image {
  height: 360px;
  position: relative;
  overflow: hidden;
  background-color: #009688;
}
.main-image img.big-image {
  position: absolute;
  z-index: 0;
  left: 0;
  top: calc(180px - 28.125vw);
  height: 56.25vw;
  width: 100vw;
  opacity: 0;
  transition: opacity 1s;
}
.main-image img.big-image.loaded {
  opacity: 1;
}
@media (max-width: 640px) {
  .main-image img.big-image {
    top: 0;
    left: calc(50vw - 320px);
    height: 360px;
    width: 640px;
  }
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(0deg, transparent, rgba(0,0,0,0.5));
  text-align: right;
  z-index: 10;
}
.navbar .container {
  margin: 0 auto;
  max-width: 800px;
}
.navbar .container a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 11px;
  margin: 5px;
  margin-left: 0;
}
.navbar .container a:focus {
  outline: none;
}
@media (max-width: 400px) {
  .navbar {
    text-align: center;
  }
}
.blog-name {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-shadow: 0 0 8px rgba(0,0,0,0.3), 0 0 16px rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
}
.blog-name span {
  font-size: 112px;
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}
.post .blog-name {
  max-width: 800px;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: left;
}
.post .blog-name span {
  font-size: 56px;
}

.content.container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  z-index: 2;
}
.home .content.container {
  margin-top: -80px;
}
.post-card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  padding: 20px;
  margin: 20px;
  position: relative;
}
.post-card::before {
  content: '#' attr(data-index);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
body.light .post-card {
  background-color: white;
  color: rgba(0,0,0,0.38);
}
body.dark .post-card {
  background-color: #424242;
  color: rgba(255,255,255,0.5);
}
.post-card .date {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 20px;
}
.post-card h1 {
  margin: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  font-weight: normal;
  word-wrap: break-word;
}
body.light .post-card h1 {
  color: rgba(0,0,0,0.87);
}
body.dark .post-card h1 {
  color: white;
}
.post-card h1 a {
  text-decoration: none;
  color: inherit;
  font-size: 56px;
  font-family: 'Roboto Slab', serif;
}
.post-card h1 a:focus {
  outline: none;
  text-decoration: underline;
}
.post-card .description {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}
body.light .post-card .description {
  color: rgba(0,0,0,0.54);
}
body.dark .post-card .description {
  color: rgba(255,255,255,0.7);
}
.year {
  color: rgba(0,0,0,0.54);
  font-size: 16px;
  font-weight: 500;
  margin: 20px;
  margin-bottom: -10px;
  display: block;
}
body.dark .year {
  color: rgba(255,255,255,0.7);
}
.year:first-child {
  color: rgba(255,255,255,0.7);
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.post .content.container {
  margin-top: -40px;
  margin-bottom: -20px;
}
.post-content {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  padding: 20px;
  margin: 0 20px;
  background-color: white;
}
body.dark .post-content {
  background-color: #424242;
}
.post-content .comments {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #eee;
  margin: -20px;
  margin-top: 20px;
}
body.dark .post-content .comments {
  background-color: #484848;
}
.post-content .comments .error {
  display: block;
  color: rgba(0,0,0,0.54);
  padding: 40px 20px;
  font-size: 14px;
  text-align: center;
}
body.dark .post-content .comments .error {
  color: rgba(255,255,255,0.7);
}

.pagination {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}
.pagination .current-page {
  font-weight: 500;
  text-decoration: uppercase;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
}
body.dark .pagination .current-page {
  color: rgba(255,255,255,0.7);
}
.pagination .current-page input {
  width: 20px;
  color: inherit;
  font: inherit;
  background: none;
  text-align: right;
  border-radius: 2px;
  transition: border .2s;
}
.pagination .current-page input:focus {
  outline: none;
}
body.light .pagination .current-page input {
  border: 1px solid rgba(0,0,0,0.15);
}
body.light .pagination .current-page input:focus {
  border: 1px solid rgba(0,0,0,0.3);
}
body.dark .pagination .current-page input {
  border: 1px solid rgba(255,255,255,0.15);
}
body.dark .pagination .current-page input:focus {
  border: 1px solid rgba(255,255,255,0.3);
}
.pagination button {
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  background-image: 24px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  box-sizing: content-box;
  padding: 6px;
  opacity: 0.54;
  margin: -6px;
}
body.dark .pagination button:focus {
  opacity: 0.7;
}
.pagination button:focus {
  outline: none;
  opacity: 0.8;
}
body.dark .pagination button:focus {
  opacity: 1;
}
body.light .pagination button:disabled {
  opacity: 0.38;
}
body.dark .pagination button:disabled {
  opacity: 0.5;
}
.pagination button.first-page {
  left: 20px;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z'/%3E%3C/svg%3E");
}
body.dark .pagination button.first-page {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z'/%3E%3C/svg%3E");
}
.pagination button.prev-page {
  left: 60px;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/%3E%3C/svg%3E");
}
body.dark .pagination button.prev-page {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/%3E%3C/svg%3E");
}
.pagination button.next-page {
  right: 60px;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E");
}
body.dark .pagination button.next-page {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E");
}
.pagination button.last-page {
  right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z'/%3E%3C/svg%3E");
}
body.dark .pagination button.last-page {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z'/%3E%3C/svg%3E");
}

.footer {
  background-color: #202021;
  min-height: 44px;
}
.post .footer {
  padding-top: 30px;
}
.footer .container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}
.footer .legal {
  display: block;
  color: white;
  font-size: 14px;
  padding: 15px;
}
.footer .social {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.footer .social li {
  display: inline-block;
}
.footer .social li a:focus {
  outline: none;
}
.footer .social li a img {
  display: inline-block;
  height: 24px;
  opacity: 0.7;
  padding: 5px;
}
.footer .social li a:focus img, .footer .social li a:hover img {
  height: 24px;
  opacity: 1;
}
@media (max-width: 400px) {
  .footer .legal {
    text-align: center;
    padding-bottom: 0;
  }
  .footer .social {
    position: static;
    text-align: center;
  }
}
